#Variable for enviroment on which app is running, because on prod we don't wont run logger/synchronize etc
APP_ENV=

#Url where app is runing configuration
APP_URL=
APP_PORT=

#Rate limiter configuration
RATE_LIMITER_WINDOW_MS=
RATE_LIMITER_MAX=

#DATA_BASE configuration
DATA_TYPE=
DATA_HOST=
DATA_PORT=
DATA_USERNAME=
DATA_PASSWORD=
DATA_DATABASE=
DATA_PREFIX=

#Token configuration
TOKEN_ACCESS_KEY=
TOKEN_REFRESH_KEY=
TOKEN_ACCESS_EXPIRES_IN='15m'
TOKEN_REFRES_EXPIRES_IN='1d'

#Token configuration
TOKEN_REGISTER=
TOKEN_REGISTER_EXPIRES_IN='7d'